# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
group_children = data.pivot_table(index='children', values='debt', aggfunc=['count', 'sum', 'mean']).droplevel(1, axis=1).sort_values('mean', ascending=False)
group_children['mean'] = (group_children['mean']*100).round(2)
group_children

          count   sum  mean
children
4            41     4  9.76
2          2052   194  9.45
1          4808   444  9.23
3           330    27  8.18
0         14091  1063  7.54
5             9     0  0.00

<div class="alert alert-success">
<b>✅ Комментарий ревьюера v1: </b> 

Таблица верная!
</div>

**Вывод:** заемщики, у которых 4 ребенка, являются самыми ненадежными по возврату кредита в срок среди остальных. Недалеко от них расположились те, у кого 2 ребенка. Надежнее всего оказались заемщики, у которых нет детей*.

** "у которых нет детей", потому как хоть и у заемщиков с 5 детьми доля просрочки кредита равна 0, все же будет логичнее предположить, что на самом деле она несильно отличается от доли просрочки заемщиков с 4 детьми. Вохможно, нам была дана выборка (данные из таблицы), где ни у одного 5-детного заемщика не было просрочки. Но могу предположить, что в реальности это далеко не так. Нужно больше данных, или же выборку из заемщиков с 5 детьми.

<div class="alert alert-danger">
<b>❌ Комментарий ревьюера: v1 </b> 

Как думаешь, насколько корректно учитывать малочисленные категории в выводах?
    
Для более точной формулировки вывода сравни, пожалуйста, только самые многочисленнные категории.
</div>

<div class="alert alert-info"> 
<b>Исправленный вывод:</b> 
    
Заемщики, у которых 2 ребенка, являются самыми ненадежными по возврату кредита в срок среди остальных. Недалеко от них расположились те, у кого по 1 ребенку. Надежнее всего оказались заемщики, у которых детей нет. Вывод основан на многочисленных категориях, не учитывая малочисленные.

</div>

<div class="alert alert-success">
<b>✅ Комментарий ревьюера v2: </b> 

👍
</div>

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
group_family_status = data.pivot_table(index='family_status', values='debt', aggfunc=['count', 'sum', 'mean']).droplevel(1, axis=1).sort_values('mean', ascending=False)
group_family_status['mean'] = (group_family_status['mean']*100).round(2)
group_family_status

                       count  sum  mean
family_status
Не женат / не замужем   2796  273  9.76
гражданский брак        4134  385  9.31
женат / замужем        12261  927  7.56
в разводе               1189   84  7.06
вдовец / вдова           951   63  6.62

**Вывод:** самая ненадежная по возврату кредита в срок категория семейного положения - не женат / не замужем. Ненамного отличаются заемщики, которые состоят в гражданском браке. Однако надежнее всего оказались заёмщики с семейным положение "вдовец / вдова".

<div class="alert alert-success">
<b>✅ Комментарий ревьюера v1: </b> 

Да, если обобщить, то можно сказать, что состоящие или состоявшие в браке заемщики, реже допускают просрочки.
</div>

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
group_total_income = data.groupby('total_income_category')['debt'].agg(['count', 'sum', 'mean'])
group_total_income['mean'] = (group_total_income['mean']*100).round(2)
group_total_income = group_total_income.sort_values('mean', ascending=False)
group_total_income

                       count   sum  mean
total_income_category
E                         22     2  9.09
C                      15921  1353  8.50
A                         25     2  8.00
B                       5014   354  7.06
D                        349    21  6.02

Для удобства продублируем диапазоны ЗП для выведенных категорий:
- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

<div class="alert alert-success">
<b>✅ Комментарий ревьюера v1: </b> 

Таблица верная. Молодец, что не забыла расшифровку категорий.
</div>

**Вывод:** для начала стоит заметить, что заёмщики из категорий 'E' и 'A', с самым низким и самым высоким уровнем дохода, почти не берут кредит. Также заемщики из категории D относительно в малом количестве, по сравнению с категориями C и B. Поэтому будет справедливо сделать вывод по категория людей, которые попадают в львиную долю по взятию кредита: самыми ненадежными является категория людей с доходом от 50001 до 200000; самыми надежными - заемщики с уровнем дохода от 200001 до 1000000.

<div class="alert alert-danger">
<b>❌ Комментарий ревьюера: v1 </b> 

Не соглашусь, что здесь можно сделать вывод о том, что кто-то чаще/реже берет кредит. Возможно у нас просто попалась такая выборка, мы ведь не анализируем всех остальных людей, которые не взяли кредит.
</div>

<div class="alert alert-info"> 
<b>Исправленный вывод:</b> 
    
Для начала стоит заметить, что заёмщики из категорий 'E' и 'A', с самым низким и самым высоким уровнем дохода, являются малочисленными категориями. Также заемщики из категории D относительно в малом количестве, по сравнению с категориями C и B. Поэтому будет справедливо сделать вывод по категориям людей, которые попадают в львиную долю по взятию кредита: самыми ненадежными является категория людей с доходом от 50001 до 200000; самыми надежными - заемщики с уровнем дохода от 200001 до 1000000. То есть с бОльшим уровнем дохода реже встречаются просрочки по кредиту.

</div>

<div class="alert alert-success">
<b>✅ Комментарий ревьюера v1: </b> 

Мысль о том, что малочисленные категории не стоит учитывать при формулировке вывода абсолютно верна.

Так что сравнив категории B и С можно сказать, что доля должников падает с ростом дохода.</div>

<div class="alert alert-success">
<b>✅ Комментарий ревьюера v2: </b> 

Да, теперь все верно! 👍
</div>

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [25]:
group_purpose = data.groupby('purpose_category')['debt'].agg(['count', 'sum', 'mean']) #группировка данных по категориям, применение к столбцу debt трех операций
group_purpose['mean'] = (group_purpose['mean']*100).round(2) #умножение значений из столбца mean на 100 для получения процентного соотношения и округление до двух знаков после запятой
group_purpose = group_purpose.sort_values('mean', ascending=False) #сортировка по столбцу mean в порядке убывания
group_purpose

                          count  sum  mean
purpose_category
операции с автомобилем     4279  400  9.35
получение образования      3988  369  9.25
проведение свадьбы         2313  183  7.91
операции с недвижимостью  10751  780  7.26

**Вывод:** больше всего просрочек по возврату кредита наблюдается в группах "операции с автомобилем" и "получение образования". Самыми надежными по вовзрату кредита в срок явлюятся заемщики из группы "операции с недвижимостью".

<div class="alert alert-success">
<b>✅ Комментарий ревьюера v1: </b> 

Согласна! </div>

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* пропуски в данных появляются разными путями. Например, пользователь не указал о себе какие-нибудь сведения или автоматизированная система сбора информации дала сбой. Иногда пропуски оставляют умышленно, рассчитывая на автозаполнение спецсимволами.

<div class="alert alert-success">
<b>✅ Комментарий ревьюера v1: </b> 

Все так, пропуски здесь могут возникать из-за человеческого фактора, и также причиной может быть техническая проблема.</div>

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* в данном спринте мы разобрали два характерных значения, которые можно применять для заполнения пропусков количественных переменных: среднее арифметическое (mean) и медиана (median). Заполнять пропуски медианным значением — лучшее решение для количественных переменных, потому как применяя медиану для пропусков мы получаем более объективную информацю об исследуемой характеристике. Заполнение пропусков средним значением может негативно сказаться на объективности информации, поскольку в данных могут присутствовать выбросы.

<div class="alert alert-success">
<b>✅ Комментарий ревьюера v1: </b> 

Верно, медиана менее чувствительна к выбросам в данных.</div>

### Шаг 4: общий вывод.

На основе получившихся данных можно составить картины лучшего и худшего заемщика:

**лучший заемщик:**
- без детей;
- вдова / вдовец;
- уровень дохода от 200001 до 1000000;
- операции с недвижимостью.

**худший заемщик:**
- с 4 детьми;
- не женат / не замужем;
- уровень дохода от 50001 до 200000;
- операции с автомобилем.

В процессе работы по пройдену спринту были отработаны следующие навыки: работа с пропусками, изменение типов данных, поиск и устранение дубликатов, категоризация данных. Также в процессе выполнения проекта были проверены поставленные гипотезы.

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера: v1 </b> 

Предлагаю сделать общий вывод немного подробнее: добавь информацию о том, с какими данными мы работали, что было сделано на этапе предобработки. Можно дать рекомендации по улучшению качества данных.
    
Часто заказчик читает только общий вывод, поэтому в общий вывод нам надо включить все выявленные зависимости и инсайты в каждом пункте исследования.
</div>

<div class="alert alert-info"> 
<b>Исправленный общий вывод:</b> 
На вход нам был дан датафрейм с некоторыми проблемами, которые мы устранили перед началом проверки гипотез. Мы устранили пропуски в двух столбцах, заполнив их медианными значениями соответствующих категорий. Также мы устранили аномальные значения, встретившиеся в столбцах с количеством детей. Далее мы убрали дубликаты из датафрейма. В конце для удобства добавили новый столбец по категориям дохода, а также столбец по цели получения кредита. Таким образом мы сделали предобработку данных для дальнейшей работы по проекту: проверке гипотез.
<br><br>
    
<b>Есть ли зависимость между количеством детей и возвратом кредита в срок?</b> Заемщики, у которых 2 ребенка, являются самыми ненадежными по возврату кредита в срок среди остальных. Недалеко от них расположились те, у кого по 1 ребенку. Надежнее всего оказались заемщики, у которых детей нет. Вывод основан на многочисленных категориях, не учитывая малочисленные.
<br><br>    
    
<b>Есть ли зависимость между семейным положением и возвратом кредита в срок?</b> Самая ненадежная по возврату кредита в срок категория семейного положения - не женат / не замужем. Ненамного отличаются заемщики, которые состоят в гражданском браке. Однако надежнее всего оказались заёмщики с семейным положение "вдовец / вдова".
<br><br>    
    
<b>Есть ли зависимость между уровнем дохода и возвратом кредита в срок?</b> Для начала стоит заметить, что заёмщики из категорий 'E' и 'A', с самым низким и самым высоким уровнем дохода, являются малочисленными категориями. Также заемщики из категории D относительно в малом количестве, по сравнению с категориями C и B. Поэтому будет справедливо сделать вывод по категориям людей, которые попадают в львиную долю по взятию кредита: самыми ненадежными является категория людей с доходом от 50001 до 200000; самыми надежными - заемщики с уровнем дохода от 200001 до 1000000. То есть с бОльшем уровнем дохода реже встречаются просрочки по кредиту.
<br><br>   
    
<b>Как разные цели кредита влияют на его возврат в срок?</b> Больше всего просрочек по возврату кредита наблюдается в группах "операции с автомобилем" и "получение образования". Самыми надежными по вовзрату кредита в срок явлюятся заемщики из группы "операции с недвижимостью".
<br><br> 
    
На основе получившихся данных можно составить картины лучшего и худшего заемщика:
<br><br>
    
**лучший заемщик:**
- без детей;
- стоит или состоял в браке;
- уровень дохода от 200001 до 1000000;
- операции с недвижимостью.

**худший заемщик:**
- с одним или более ребенком;
- не женат / не замужем;
- уровень дохода от 50001 до 200000;
- операции с автомобилем.

В процессе работы по пройдену спринту были отработаны следующие навыки: работа с пропусками, изменение типов данных, поиск и устранение дубликатов, категоризация данных. Также в процессе выполнения проекта были проверены поставленные гипотезы.

</div>

<div class="alert alert-success">
<b>✅ Комментарий ревьюера v2: </b> 

Теперь вывод просто супер!
</div>

<div style="border:solid green 2px; padding: 20px">
 
Ирина, у тебя получилась очень хорошая работа! Ты отлично справилась с построением таблиц, но кое-что надо подправить.
    
Основное критическое замечание: скорректировать выводы по таблицам.
    
Уверена, ты быстро с ним справишься. С нетерпением жду твою работу обратно! </div>

<div style="border:solid green 2px; padding: 20px">
 
Ирина, ты отлично доработала исследование! Проект принят, мне было приятно проверять твою работу, удачи!)  </div>